---
layout: default
title: Blog Archive
banner: 
  heading: A whole new world.
  description: Surfing teachings you to appreciate the finer things in life, to be present, live in the moment and just breathe.
  button: 
    text: Read more
    url: '#'
  image: 
    image_path: /uploads/travel/travel-2.jpg
---
<!-- Hero Banner -->
{% include hero-banner.html %}

<!-- Archive -->
<section>
    <h2 class="text-center uppercase py-16 text-3xl">Recently on the blog.</h2>
    <div class="grid">
        {% for post in site.posts limit:10 %}
            {% include post-loop-list-item.html %}
        {% endfor %}
    </div>
</section>