---
layout: default
title: Blog Archive
banner: 
  heading: Recently on the Blog.
  description: Nature teaches you to appreciate the finer things in life, to be present, live in the moment and just breath.
  image_path: /uploads/blog-bg-10.jpg
banner-style-indented: true
seo:
  title:
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
---

<!-- Header -->
{% if page.banner-style-indented == true %}
{% include hero-banner.html %}
{% else %}
{% include hero-banner-full.html %}
{% endif %}
<!------------------------ Split blog loop (part 1) ------------------------>
<section class="p-5p">

    <div class="capped-width grid sm:grid-cols-6">

        {% for post in site.posts limit:12 %}

           <div class="p-4
           {% cycle 
            'col-span-2 bg-slate-200',
            'col-span-2 bg-slate-300',
            'col-span-2 bg-slate-400',
            'col-span-3 bg-slate-100',
            'col-span-3 bg-slate-200'
            %}"> 
            {% include post-loop-list-item-simple.html %}

           </div>

        {% endfor %}

    </div>

</section>