---
layout: default
title: Homepage
banner:
  heading: A whole new world.
  description: Surfing teachings you to appreciate the finer things in life, to be present, live in the moment and just breathe.
  image_path: /uploads/travel/travel-1.jpg
text_blurb:
  heading: A facinating heading about the site.
  description: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus minus dolores ratione suscipit odit minima consectetur voluptates rerum, laboriosam nisi ad dolore! Iure minima modi dicta eum maiores voluptatibus est. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis odio vel, neque quibusdam dolor dolores, tempore illum, hic quod laborum molestiae magnam blanditiis nostrum voluptates vero alias? Asperiores, quibusdam veniam.
  image_path: /uploads/travel/travel-1.jpg
  button: 
    text: Read more
    url: "#"
  image: 
    image_path: /uploads/travel/travel-1.jpg
    alt_text: A placeholder alt description
itinerary: 
  heading: Upcoming travel destinations
  image: 
    image_path: /uploads/travel/travel-1.jpg
    overlay_text: Currently in...
  destinations: 
    - location: Europe
      date: 00 Month - 00 Month
    - location: Australia
      date: 00 Month - 00 Month
    - location: Asia
      date: 00 Month - 00 Month
    - location: Europe
      date: 00 Month - 00 Month
blog: 
  heading: Recently on the blog
  button: 
    text: Read more
    url: "#"
seo:
  title: 
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
---
<!-- Header -->
{% include hero-banner.html %}

<!-- About Blurb -->
<section class="grid grid-cols-5 p-5p bg-sand">
  <div class="col-span-2 bg-[url('{{page.text_blurb.image_path | default: page.featured_image}}')] min-h-full"></div>
  <div class="col-span-3 pl-8">
    <h2 class="font-serif text-7xl text-center max-w-lg py-16 -ml-[35%]">{{ page.text_blurb.heading }}</h2>
    <p class="mb-16">{{ page.text_blurb.description }}</p>
    <a href="{{page.text_blurb.button.url}}" class="mb-16 inline-block uppercase text-xl font-serif tracking-widest border-b border-black">{{ page.text_blurb.button.text }}</a>
  </div>
</section>

<!-- Upcoming Destinations -->
<section class="p-10p border border-black">
  <h2 class="uppercase font-serif text-center text-5xl tracking-widest mb-16">
    {{page.itinerary.heading}}
  </h2>
  <div class="grid grid-cols-5">
    <div class="col-span-3 uppercase text-lg tracking-widest">
      <ul class="border-t border-black">
        {% for item in page.itinerary.destinations %}
          <li class="border-b border-black py-8 flex justify-between">
            <div class="justify-start">{{ item.location }}</div>
            <div class="justify-end">{{ item.date }}</div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="col-span-2 bg-[url('{{page.itinerary.image.image_path}}')]"></div>
  <div><span class="font-serif text-6xl bg-medium">{{page.itinerary.image.overlay_text}}</span></div>
</section>

<!-- Recent Posts -->
<section class="p-5p">

  <div class="max-w-screen-xl mx-auto md:columns-3">


    {% assign featured_posts = site.posts | where: 'featured', true %}

    {% for post in featured_posts limit: 3 %}

      <a class="post-item p-2 break-inside-avoid block mb-4" href="{{ post.url }}">

        <!-- Background image -->
        <div class="bg-cover 
                                          {% cycle 'aspect-square', 'aspect-landscape', 'aspect-square' %}" style="background-image:url( '{{ post.featured_image }}' );"></div>

        <!-- Text container  -->
        <div>
          <h2 class="text-3xl">
            {{ post.title }}
          </h2>
          <p class="uppercase">
            {{ post.description }}</p>
          <a href="{{page.blog.button.url}}">{{ page.blog.button.text }}</a>
        </div>
      </a>

    {% endfor %}
  </div>
</section>