<footer class="py-5p px-10p bg-dark text-white grid grid-cols-3 gap-3">
  <div class="col-span-1">
    <span class="text-4xl font-serif mb-4 inline-block">LOGO</span>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sint dignissimos magni vitae.</p>
  </div>
  <nav class="col-span-1">
    <h2>More from our team</h2>
    <a href="/blog-archive-list" class="p-1 block uppercase text-sm tracking-wide"> Blog Archive List </a>
    <a href="/blog-archive" class="p-1 block uppercase text-sm tracking-wide"> Blog Archive </a>
    <a href="#" class="p-1 block uppercase text-sm tracking-wide"> Link Three </a>
    <a href="#" class="p-1 block uppercase text-sm tracking-wide"> Link Four </a>
  </nav>
  <nav class="col-span-1">
    <h2>Connect with us</h2>
    <a href="#" class="p-1 block uppercase text-sm tracking-wide"> Instagram</a>
    <a href="#" class="p-1 block uppercase text-sm tracking-wide"> Facebook </a>
    <a href="#" class="p-1 block uppercase text-sm tracking-wide"> LinkedIn </a>
    <a href="#" class="p-1 block uppercase text-sm tracking-wide"> TikTok </a>
  </nav>
</footer>