
<header class="flex justify-between">

    <a href="#" class="inline-block logo text-4xl font-serif py-8 px-16 tracking-widest"> LOGO </a>

    <nav class="flex items-center md:justify-center md:overflow-x-auto overflow-x-scroll md:flex-wrap flex-nowrap text-xl tracking-widest px-16">

          {% for item in site.data.site-settings.navigation %}
          <a href="{{item.url}}" class="p-4 uppercase whitespace-nowrap hover:text-accent">{{item.title}}</a>
          {% endfor %}
          
    </nav> 
  </header>