---
layout: default
---

<section class="p-8"> 
	Product:  {{page.title}} 
	Price: {{page.price}}
	Before: <img src="{{page.before-image}}">
	After: <img src="{{page.after-image}}">
</section> 

<!-- Header -->
<section class="grid grid-cols-2">
	<div class="col-span-1">
		<h1 class="text-3xl">{{page.title}}</h1>
		<h2>{{page.subtitle}}</h2>
		<p>{{page.description}}</p>
		<a href="#">Buy Now</a>
	</div>
	<div class="col-span-1" style="background-image:url('{{page.featured_image}}');"></div>
</section>

<!-- Before & After -->
<section class="grid grid-cols-3">
	<div class="col-span-2" style="background-image:url('{{page.featured_image}}');"></div>
	<div class="col-span-2 grid grid-cols-6">
		<div class="col-span-1" style="background-image:url('{{page.featured_image}}');"></div>
		<div class="col-span-1" style="background-image:url('{{page.featured_image}}');"></div>
		<div class="col-span-1" style="background-image:url('{{page.featured_image}}');"></div>
		<div class="col-span-1" style="background-image:url('{{page.featured_image}}');"></div>
		<div class="col-span-1" style="background-image:url('{{page.featured_image}}');"></div>
		<div class="col-span-1" style="background-image:url('{{page.featured_image}}');"></div>
	</div>
	<div class="col-span-1">
		<h2>Before & After</h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ad impedit labore debitis saepe beatae, nobis, dolorum provident ipsa repellendus molestias id? Adipisci repellat maiores voluptate atque eligendi assumenda dignissimos!</p>
	</div>
</section>

<!-- How To -->
<section class="grid grid-cols-3">
	<div class="col-span-1">
		<h2>How to use your presets</h2>
		<ul></ul>
	</div>
	<div class="col-span-2">video</div>
</section>

<!-- FAQ -->
<section>
	<h2>FAQ's</h2>
	<div class="flex justify-between">
		<h3>Question</h3>
		<p>Answer</p>
	</div>
</section>

<!-- Related Products -->
<section>
	<h2>Related Products</h2>
	<div class="grid grid-cols-3">
		LOOP
	</div>
</section>

<!-- 
Header section
- 2 columns
	- 1 column
		- h1
		- h2
		- p
		- shopify button
	- 1 column
		- image

Before & After section
- grid-cols-3
	- 1 column
		- col-span-2
		- 	col-span-6
	- 1 coloumn
		- col-span-1
			- h2 
			- p

How to section
- grid-cols-3
	- 1 column
		- col-span-1
		- h2
		- ul (put in data file)
	- 1 column
		- col-span-2
		- video (data file with our how to use presets content)

FAQ section
- create an includes
	- h2
	- h3
	- js to show p when clicked

Related products section
- h2
- grid-cols-3
	- item
		- image (link)
		- tag
		- h3 (link)
		- description 
		- price
 -->